{% extends 'base.html' %}
{% block conteudo %}

    <div class="container">

        <div>
            <h1 class='title'>{{titulo}}</h1>
        </div>
        Para adicionar um novo jogo, <a href="{{ url_for('novo') }}">clique aqui</a>
        <table border='1' cellspacing='2' class="table">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                
                    <th>Categoria</th>
                  
                    <th>Console</th>
                </tr>
            </thead>

            <tbody>
                {% for jogo in jogos %}
                <tr>
                    <td>{{jogo.nome}}</td>
                 
                    <td>{{jogo.categoria}}</td>
               
                    <td>{{jogo.console}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>   
    </div>


{% endblock %}